:root {
  --bg: black;
  --fg: white;
}
@font-face {
  font-family: "font-medium";
  src: url("/fonts/font-medium.woff") format("woff"),
    url("/fonts/font-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "font-medium-oblique";
  src: url("/fonts/font-medium-oblique.woff") format("woff"),
    url("/fonts/font-medium-oblique.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  transition: background 300ms;
}
body {
  background: var(--bg);
  color: var(--fg);
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 1.65em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "font-medium", sans-serif;
  line-height: 1.3em;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
textarea {
  background: none;
  border: 2px solid var(--fg);
  border-radius: 3px;
  outline: none;
  padding: 8px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--fg);
}
/* Transitions */

.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Icons */

.icon {
  cursor: pointer;
}

/* Other */

[v-cloak] {
  display: none;
}

.debug {
  border: 2px solid red;
}
